---
const { 
  width = "auto", 
  height = "100px" 
} = Astro.props;
---

<div class="logo">
  <a href="/" aria-label="Ir a la página principal">
    <img 
      src="/src/assets/images/logo.png" 
      alt="Munakuyki Detalles - Regala, sorprende y disfruta" 
      width={width} 
      height={height}
    />
  </a>
</div>




